.range {
  height: 300px;
  width: 200px;
  padding: 60px;
  position: absolute;
  top: 25vh;
  left: 40vw;
  text-shadow: 1px 2px 5px #000000;

  
}
div .slider {
  width: 100%;
  transform: scale(2);
  transform-origin: 30%;
}
#btn-position{
  position: absolute;
  bottom: 10vh;
  left: 49vw;
}