#timer{
    width: 15vw;
    height: auto;
    position: absolute;
    left: 43vw;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(220, 228, 235, 0.452);
    padding: 10px;
    border-radius: 20px;
}